* {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

header {
    text-align: center;
    background: rgb(108, 126, 100);
    padding: 10px;
}

h2 {
    font-family: 'Barlow', sans-serif;
}

aside {
    height: 100%;
    width: 225px;
    position: fixed;
}

.side-bar {
    padding: 10px;
    font-size: 18px;
}

#city-input {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    font-size: 18px;
}

button {
    width: 100%;
    border: solid 2px rgb(108, 126, 100);
    font-size: 18px;
    border-radius: 5px;
}

button:hover {
    background: rgb(108, 126, 100);
}

main {
    margin-left: 225px;
}

#current, #forecast {
    margin: 15px;
    padding: 5px;
}

li {
    list-style: none;
    line-height: 40px;
}